@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir Roman.otf');
}
@font-face {
  font-family: "Nirmala UI Semilight";
  src: url('../fonts/Nirmala Semilight.ttf');
}
@font-face{
  font-family: "Nirmala UI";
  src: url('../fonts/Nirmala.ttf');
}
